@use '../../color_variables.scss' as var_color;

.main-login {
  padding: 1.2rem;
  height: 100vh;
 
  .text-section{
    margin-left: 10%;
  }
  .login-content {
    gap: 10%;
    align-items: center;
    height: 100%;
    justify-content: center;
    .Image-section {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .form-section {
      width: 30%;
      // height: 80vh;
      .forget-pwd{
        float: right;
      };
      .login-text{
        margin-top: 2rem;
      }
      h1 {
        font-weight: 500 !important;
        margin: 0.1rem 0rem;
        font-size: 2.5rem;
        color: var_color.$text-primary;
      }
      .caption{
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-bottom: 1.6rem;
        color: var_color.$text-secondary;
      }

      form {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        // height: 60vh;
        margin-top: 1rem;
        &::-webkit-scrollbar{
            visibility: hidden !important;
            display: none;
        } 
        .error-message{
            margin-bottom: 0.3rem;
            font-size: 0.7rem;
            color: var_color.$notification-error;
        }
        .login-inputs-main {
            display: flex;
            position: relative;
            
          .input-field {
            flex: 1;
            margin-bottom: 0.6rem;
            padding: 1rem 1rem 1rem 3rem;
            position: relative;
            width: auto;
            outline: none;
            border: none;
            background-color: var_color.$input-bg !important;
            align-items: center;
            font-size: 1rem;
          }
          .input-icon {
            position: absolute;
            top:1rem;
            left: 1rem;
            font-size: 1.2  rem;
            color: var_color.$text-secondary;
          }
        }
        .btn-container{
            gap: 5%;
            display: flex !important;
            .primary-btn{
                border: none !important;
                border-radius: 1rem;
            }
          }
          .signup-btn{
            margin-top: 1.5rem !important;
          }
      }
    }
  }
}
